@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-black text-white antialiased overflow-hidden;
    margin: 0;
    padding: 0;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 0px;
}